{% extends "base.html" %}

{% block content %}
<body class="bg-gradient-to-b from-yellow-400 to-blue-800 font-sans">
  <div class="flex justify-center items-center h-screen">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-md">
      <div class="p-8 w-96">
        <h1 class="text-2xl font-semibold text-black-800 mb-4">Edit Profile</h1>
        <form method='post' enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-4">
            <label for="profile-image" class="block text-black-700 text-sm font-bold mb-2">Profile Image</label>
            {{ form.as_p }}
          </div>
          <div class="mb-4">
            <label for="name" class="block text-black-700 text-sm font-bold mb-2">First name</label>
            <input type="text" id="name" name="first_name" class="w-full border border-black-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500" placeholder="Enter your name" value="">
          </div>
          <div class="mb-4">
            <label for="name" class="block text-black-700 text-sm font-bold mb-2">Last name</label>
            <input type="text" id="name" name="last_name" class="w-full border border-black-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500" placeholder="Enter your name" value="">
          </div>
          <div class="mb-4">
            <label for="email" class="block text-black-700 text-sm font-bold mb-2">Email</label>
            <input type="email" id="email" name="email" class="w-full border border-black-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500" placeholder="Enter your email" value="">
          </div>
          <div class="mb-4">
            <label for="phone" class="block text-black-700 text-sm font-bold mb-2">Phone</label>
            <input type="phone" id="phone" name="phone" class="w-full border border-black-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500" placeholder="Enter your phone" value="">
          </div>
          <div class="flex justify-end">
            <button type="submit" class="bg-blue-800 text-white py-2 px-4 rounded-md hover:bg-yellow-400 focus:outline-none focus:bg-blue-600">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %} 
