{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
    <div class="form-container">
        <div class="form-card">
            <img src="https://www.svgrepo.com/show/376344/python.svg" alt="Avatar" class="avatar">
            <form method="post">
                <div class="input-group">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button type="submit" class="btn-submit">Register</button>
                <div class="links">
                    <a href="login">Already have an account?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}